body, html {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #FFFFFF;
}

header {
    width: 100%;
    height: 40px;
    
    background-color: #FFFFFF;
}

header .btn-group {
    margin: 5px 15px 0px 0px;
}

header span.logo {
    /* color: #6D99BF; */
    /*color: white; */
    /* background-color: #525252; */
    display: inline-block;
    width: 330px;
    height: 40px;
    overflow: hidden;
    float: left;

    padding-left: 30px;
    padding-top: 3px;
    
    font-size: 24px;

    color: black;
    font-family: Arial;
}

.clear { clear: both; }


.cc-navbar {
    display: inline-block;
    float: left;
}

.cc-navbar .nav li {

    margin: 0px 5px;
}

.cc-navbar .nav li a {
    margin-top: 4px;
    padding: 6px 10px;
}

#content {
    padding-top: 15px;
    height: 100%;
    width: 100%;

    border-top: 1px solid #3C3C3C;
    overflow: hidden;
}

#content.cc-onepage .cc-panel {
    display: none;
}

#content.cc-onepage .cc-content {
    width: 100%;
    margin-left: 0px;
}

div.cc-window {
    padding: 20px;
    background-color: #FFFFFF;
    
    margin-bottom: 30px;
}

div.cc-table {
    width: 100%;
    overflow: auto;
}

div.cc-row {
    width: 100%;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    
    background-color: white;
    
    border-bottom: 1px solid #C4C4C4;
}

div.cc-row:hover {
    background-color: #FAFAFA;
    cursor: pointer;
}
div.cc-row span {
    padding-left: 20px;
}

div.cc-row span.source {
    display: inline-block;
    width: 150px;
}

div.cc-row span.date {
    padding-right: 20px;
    float: right;
}

div.cc-form {
    float: right
}

div.cc-message {
    width: 100%;
}

div.cc-message-body {
    margin: 5px;
    margin-top: 0px;
    padding-top: 5px;
}

div.cc-message-head {
    font-size: 16px;
}

div.cc-message-content {
    border: 1px solid #CCCCCC;  
    
    padding: 5px;
    background-color: #FFFFFF;
}

div.cc-message-form-head {
    margin-left: 5px;
    font-size: 16px;
    margin-top: 30px;
}

div.cc-message-form {
    margin: 5px;
    
    border: 1px solid #CCCCCC;  
    
    padding: 5px;
    background-color: #FFFFFF;
}

.menu-message {
    width: 64px;
    height: 64px;
    background-image: url(/img/icons/message.png);
    background-repeat: no-repeat;
}

div.cc-form {
    float: left;
    margin: 40px;
}

div.cc-form div.cc-label {
    width: 200px;
}

input{
    width: 300px;
}

ul.cc-message-menu {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    
    margin-bottom: 10px;
    border-top: 1px solid #3C3C3C;
}

ul.cc-message-menu li {
    margin: 0px;
    
    padding: 5px 0px;
    padding-left: 10px;
    
    width: 299px;
    background-color:  #F0F0F0;
    border-bottom: 1px solid #3C3C3C;
    
    font-weight: bold;
}

ul.cc-message-menu li:hover {
    background-color:  #E0E0E0;
    cursor: pointer;
}

.form-control {
    margin-bottom: 10px;
}

.register-form {
    padding-top: 50px;
}

.register-form label {
     margin-top: 6px;

 }

.register-form label:after {
    content: ":";
}

.cc-glyphicon-hover:hover {
    opacity: 0.5;
    cursor: pointer;
}