<div class="cc-message">
    <div class="panel panel-default">
        <div class="panel-heading">{{msg.contact_name}}</div>
        <div class="panel-body">{{msg.message}}</div>
    </div>


    <div class="panel panel-default">
        <div class="panel-heading">Response</div>
        <div class="panel-body">
            <form accept-charset="UTF-8" action="" method="POST">
                <textarea id="messageData" name="new_message" placeholder="Type in your message" cols="30" rows="5" style="width: 100%;"></textarea>

                <br><br>
                <button type="button" class="btn btn-default btn-small" ng-click="sendMessage()">Answer</button>
            </form>
        </div>
    </div>
</div>