<div class="container">
    <div class="register" style="text-align: center; margin-top: 50px;">
        <h1>CryCom</h1>
        <h4>Communicate safe way!</h4>
    </div>

    <div class="register-form">
        <h4>Try it for free.</h4>

        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-offset-3 well well-sm">
                <form name="form" class="form">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <input class="form-control" ng-model="user.username" placeholder="Username" type="text" required>
                        </div>

                        <!--
                        <div class="col-xs-4 col-sm-4 col-md-4">
                            <input class="form-control" ng-model="user.email" placeholder="Your Email" type="email" required>
                        </div>
                        -->

                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <button class="btn btn-lg btn-primary btn-block" ng-click="register(user)"
                                    ng-disabled="form.$invalid || isBlocked">Sign up
                            </button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>

    <br><br>

    <div class="faq" style="display: none">
        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4 col-offset-1">
                <h4>What is CryCom ?</h4>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut tristique lectus. Vivamus et urna
                    ut
                    neque pulvinar pellentesque. Nullam quis convallis erat. Aliquam ultricies lectus lacus, ut
                    scelerisque
                    nisi auctor sed. Nam consequat, nibh a porta placerat, purus lacus blandit purus, facilisis
                    tincidunt
                    mauris magna id odio. Etiam non tincidunt risus, ut ullamcorper mauris. Sed varius sollicitudin
                    molestie. Donec leo sapien, vehicula quis turpis nec, eleifend adipiscing est.</p>
            </div>

            <div class="col-xs-4 col-sm-4 col-md-4 col-offset-2">
                <h4>Why it's for free ?</h4>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut tristique lectus. Vivamus et urna
                    ut
                    neque pulvinar pellentesque. Nullam quis convallis erat. Aliquam ultricies lectus lacus, ut
                    scelerisque
                    nisi auctor sed. Nam consequat, nibh a porta placerat, purus lacus blandit purus, facilisis
                    tincidunt
                    mauris magna id odio. Etiam non tincidunt risus, ut ullamcorper mauris. Sed varius sollicitudin
                    molestie. Donec leo sapien, vehicula quis turpis nec, eleifend adipiscing est.</p>
            </div>
        </div>

        <br><br>

        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4 col-offset-1">
                <h4>How it works ?</h4>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut tristique lectus. Vivamus et urna
                    ut
                    neque pulvinar pellentesque. Nullam quis convallis erat. Aliquam ultricies lectus lacus, ut
                    scelerisque
                    nisi auctor sed. Nam consequat, nibh a porta placerat, purus lacus blandit purus, facilisis
                    tincidunt
                    mauris magna id odio. Etiam non tincidunt risus, ut ullamcorper mauris. Sed varius sollicitudin
                    molestie. Donec leo sapien, vehicula quis turpis nec, eleifend adipiscing est.</p>
            </div>

            <div class="col-xs-4 col-sm-4 col-md-4 col-offset-2">
                <h4>Can i communicate with my friends ?</h4>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut tristique lectus. Vivamus et urna
                    ut
                    neque pulvinar pellentesque. Nullam quis convallis erat. Aliquam ultricies lectus lacus, ut
                    scelerisque
                    nisi auctor sed. Nam consequat, nibh a porta placerat, purus lacus blandit purus, facilisis
                    tincidunt
                    mauris magna id odio. Etiam non tincidunt risus, ut ullamcorper mauris. Sed varius sollicitudin
                    molestie. Donec leo sapien, vehicula quis turpis nec, eleifend adipiscing est.</p>
            </div>
        </div>
    </div>
</div>